In [1]:
from googleapiclient.discovery import build
from googleapiclient.errors import HttpError
from oauth2client.tools import argparser

DEVELOPER_KEY='AIzaSyDfvhCHcNTn5RB30Ll9oFSjnvjW9x1ncLs' # 내 API 키값 입력
YOUTUBE_API_SERVICE_NAME='youtube'
YOUTUBE_API_VERSION='v3'

youtube=build(YOUTUBE_API_SERVICE_NAME,YOUTUBE_API_VERSION,developerKey=DEVELOPER_KEY)

In [2]:
search_response=youtube.search().list(
    q="지무비 : G Movie",
    order='relevance',
    part='snippet',
    maxResults=50,
    ).execute()

channel_id=search_response['items'][0]['id']['channelId']

In [3]:
playlists=youtube.playlists().list(
    channelId= channel_id,
    part = "snippet",
    maxResults=40
).execute()

In [4]:
import pandas as pd

ids=[]
titles=[]
for i in playlists['items']:
    ids.append(i['id'])
    titles.append(i['snippet']['title'])
    
df=pd.DataFrame([ids,titles]).T
df.columns=['PlayLists','Titles']

In [5]:
gmovie=df['PlayLists'][36]
playlist_videos=youtube.playlistItems().list(
    playlistId= gmovie,
    part = "snippet",
    maxResults=10,
)
playlistitems_list_response = playlist_videos.execute()

In [6]:
video_names=[]
video_ids=[]
date=[]

for v in playlistitems_list_response['items']:
    video_names.append(v['snippet']['title'])
    video_ids.append(v['snippet']['resourceId']['videoId'])
    date.append(v['snippet']['publishedAt'])
    
vdf=pd.DataFrame([date,video_names,video_ids]).T
vdf.columns=['Date','Title','IDS']

In [9]:
import re

category_id=[]
views=[]
likes=[]
dislikes=[]
comments=[]
mins =[]
seconds=[]
title=[]

for u in range(len(vdf)):
    request = youtube.videos().list(
        part="snippet,contentDetails,statistics",
        id=vdf['IDS'][u]
    )
    response = request.execute()
    
    if response['items']==[]:
        ids.append("-")
        category_id.append("-")
        views.append("-")
        #likes.append("-")
        #dislikes.append("-")
        comments.append("-")

    else:

        title.append(response['items'][0]['snippet']['title'])
        category_id.append(response['items'][0]['snippet']['categoryId'])
        views.append(response['items'][0]['statistics']['viewCount'])
        #likes.append(response['items'][0]['statistics']['likeCount'])
        #dislikes.append(response['items'][0]['statistics']['dislikeCount'])
        comments.append(response['items'][0]['statistics']['commentCount'])

In [10]:
gmovie_df=pd.DataFrame([title,category_id,views,comments]).T
gmovie_df.columns=['title','category_id','views','comments']
gmovie_df

,title,category_id,views,comments
0,인류 멸망 후 태어난(?) 아기의 충격적 비밀,1,4877152,2948
1,수갑채워놨는데 남편이 심장마비로 사망하면 벌어지는 대참사,1,33931630,3947
2,위장수사로 치킨집 열었다가 맛집으로 소문나면 벌어지는 일..,1,8703416,8223
3,상상도 못할 일만 벌어지는 쓰레기 변태 학교,1,10107399,12523
4,대한민국 영화계를 끝장낼뻔한 전설의 망작,1,7889022,13666
5,1000살 냉동인간이 마주친 최악의 새 인류..,1,7474466,4179
6,보기만 해도 미칠 것 같은 미래의 감옥시스템들,1,7270454,2741
7,싸이코패스와 소시오패스가 사귀면 벌어지는 일..,1,6518991,4506
8,와.. 단언컨대 한국 영화 역사상 최고 수위의 역대급 미친 영화..ㄷㄷ 《늑대사냥》,1,6289682,4327
9,물고기들이 다리가 생기면 벌어지는 역대급 대참사..,1,5848291,7898